.question-num {
  margin-left : 5px !important;
}

.res-topic-tile {
  margin-right : 5px;
}

.res-outcome {
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.ans-q-style1 {
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #17234d;
  color: white;
}

.ans-topic1 {
  font-weight: bold;
}

.ans-topic2 {
  font-weight: bold;
  color: #787a82;
}

.ans-div {
  margin-top: 5px;
}

.ans-div-top {
  margin-top: 5px;
}

.on-success-text1 {
  color: #569905;
}

.on-success-text1::before {
  content: "✓";
  margin-right: 5px;
}

.pre-btn-row-container {
  height: 100vh !important;
  justify-content: center;
}

.btn-row {
  height: 30% !important;
  align-items: center;
}

.btn-row .btn {
  height:100% !important;
}

.btn-col {
  height: 50% !important;
  align-items: center;
}

.nav-ver::before {
  content: "|";
  margin-right: 10px;
}

.btn-p1 {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1b8f59;
  color: white;
}

.btn-p1:hover {
  background-color: #0c7041;
  color: white;
}

.btn-p2 {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #466946;
  color: white;
}

.btn-p3 {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #839791;
  color: white;
}
.btn-p3:hover {
  background-color: #394e48;
  color: white;
}

.btn-p2:hover {
  background-color: #189428;
  color: white;
}

.edit-marker::before {
  content: "✏️";
}

.acc_question {
  padding-left: 5px;
}

.results-container {
  border-style: solid;
  border-width: 1px;
  border-color: #29bb35;
  border-radius: 8px;
  margin-top: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.span-results {
  margin-left: 15px;
  color: rgb(155, 157, 160);
}

.span-results::before {
  content: "|";
  margin-right: 5px;
}

.footer-promt-stick-btm {
  z-index: 2;
  position: sticky;
  bottom: 5px;
  margin-top: 5px;
  opacity: 0.8;
  background-color: #daf5bf;
  padding-left: 10px;
  padding-bottom: 5px;
  border-radius: 8px;
}

.span-init-prmt {
  font-weight: bold;
}

.span-init-prmt::before {
  content: "🤖";
  margin-right: 5px;
}

.prmt-try-btn {
  background-color: #65a378;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.prmt-try-btn::after {
  content: "➜";
  margin-left: 5px;
}

.prmt-input {
  border: none;
  border-radius: 8px;
}

.res-header {
  color: #040638;
  font-weight: bold;
}

.label-gn-topics {
  color: #000057;
  font-weight: bold;
  margin-top: 18px;
}

.nav-su-brand {
  color: #548576;
  padding-left: 5px;
}

.btn-division-law {
  background-color: #e1f7d2;
  color: #616e6b;
  border: none;
  border-radius: 8px;
  vertical-align: center;
  margin-top: 5px;
}

