.question-num {
  margin-left : 5px !important;
  font-size : 1vw;
}

.res-topic-tile {
  font-size : 1vw;
  margin-right : 5px;
}

.res-outcome {
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.ans-q-style1 {
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #17234d;
  color: white;
}

.ans-topic1 {
  font-weight: bold;
}

.ans-topic2 {
  font-weight: bold;
  color: #787a82;
}

.ans-div {
  margin-top: 5px;
}

.ans-div-top {
  margin-top: 5px;
}

.on-success-text1 {
  color: #569905;
}

.on-success-text1::before {
  content: "✓";
  margin-right: 5px;
}

.pre-btn-row-container {
  height: 100vh !important;
  justify-content: center;
}

.btn-row {
  height: 30% !important;
  align-items: center;
}

.btn-row .btn {
  height:100% !important;
}

.btn-col {
  height: 50% !important;
  align-items: center;
}

.nav-ver::before {
  content: "|";
  margin-right: 10px;
}

.btn-p1 {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1b8f59;
  color: white;
}

.btn-p1:hover {
  background-color: #0c7041;
  color: white;
}

.btn-p2 {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3da167;
  color: white;
}

.btn-p2:hover {
  background-color: #189479;
  color: white;
}

.edit-marker::before {
  content: "✏️";
}

.acc_question {
  padding-left: 5px;
}